<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload</title>
        <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    </head>

    <body>
        <h2>Upload Document</h2>
        <div class="upload">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
                <a href="{% url 'table_doc' %}" class="back">SEARCH</a>
            </form>
        </div>
    </body>

</html>